[run]
source = .
omit =
    */tests/*
    */migrations/*
    */__pycache__/*
    */venv/*
    */.venv/*
    */dist/*
    */build/*
    */.git/*
    setup.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod

precision = 2
show_missing = True

